input{
    padding: 1rem;
    font-size: 1rem;
    width: 200px;
    margin-bottom: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form button{
    background: rebeccapurple;
    padding: .5rem;
    color: white;
    cursor: pointer;
}